<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Introtaller, reparaci&oacute;n de ordenadores en Almuñecar</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ "assets/bootstrap/css/bootstrap.min.css" | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ "/assets/css/main.css" | relative_url }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet">

</head>
<body class="radial-gradient">
	<div class="container-fluid bg-circuit">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 topindex">
			<h1 class="text-center "><span class="color-orange">I</span>ntro<span class="color-orange">T</span>aller</h1>
			<h2 class="text-center rbt">compre donde quiera y repare aqui.</h2>
			<h3 class="text-center">Datos de contacto</h3>
			<div class="text-center margin-bottom-10">
    			<img class="img-center" src="{{ site.baseurl }}{{ "/assets/img/introtaller.png" | relative_url 	}}">
			</div>
			<p class="text-center">Tlf. 958 07 57 10</p>
			<p class="text-center">Avenida Europa 22 bajo</p>

		</div>

	</div>
	</div>
</body>
</html>
